*
!.gitignore
!LICENSE
!README.adoc
!CHANGELOG.adoc
!AGENTS.md
!package.json
!pnpm-lock.yaml
!scripts/
!scripts/**
!dub.sdl
!source/
!source/**
!fallback-catalog/
!fallback-catalog/**
!fixtures/
!fixtures/**
!docs/
!docs/**
!assets/
!assets/**
!.github/
!.github/**
